
*,*::before,*::after{
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
img{
    max-width: 100%;
    height: auto;
}
a,a:hover,a:visited{
    text-decoration: none;
    cursor: pointer;
}
body{
}
main{

}
